__pycache__/
*.pyc
instance/
backups/
static/uploads/covers/*
static/uploads/pdfs/*
!static/uploads/covers/.gitkeep
!static/uploads/pdfs/.gitkeep
.env
*.db
Old/
venv/
.venv/
tailwindcss.exe
static/src/
